# Iterations

Q&A

In [1]:
print("Good afternoon, Zaina")
print("Good afternoon, Zainab")
print("Good afternoon, Zainab")
print("Good afternoon, Zainab")
print("Good afternoon, Fatima")
print("Good afternoon, Fatima")
print("Good afternoon, Rawan")
print("Good afternoon, Mohamed")
print("Good afternoon, Noor")
print("Good afternoon, Noor")
print("Good afternoon, Rabab")

Good Afternoon, Zaina
Good Afternoon, Zainab
Good Afternoon, Zainab
Good Afternoon, Zainab
Good Afternoon, Fatima
Good Afternoon, Fatima
Good Afternoon, Rawan
Good Afternoon, Mohamed
Good Afternoon, Noor
Good Afternoon, Noor
Good Afternoon, Rabab

## Define loops using `for`

Repeat this:
    print("Good Afternoon,", name)

In [3]:
for name in ['Zainab', 'Zaina']:
    print('Good Afternoon', name)

Good Afternoon Zainab
Good Afternoon Zaina

In [6]:
for name in ['Zainab', 'Zaina']:
    print('Good Afternoon,', name)
    print("Done")

Good Afternoon, Zainab
Done
Good Afternoon, Zaina
Done

In [8]:
for name in ['Zainab', 'Zaina']:
    print('Good afternoon,', name)
print("Done")

Good afternoon, Zainab
Good afternoon, Zaina
Done

In [10]:
student_names = ['Zainab', 'Zaina', 'Ali']

for name in student_names:
    print('Good afternoon,', name)
print("Done")

Good afternoon, Zainab
Good afternoon, Zaina
Good afternoon, Ali
Done

In [11]:
student_names = ['Zainab', 'Zaina', 'Ali']

for name in student_names:
    print('Good afternoon,', name)
    print("---")
print("Done")

Good afternoon, Zainab
---
Good afternoon, Zaina
---
Good afternoon, Ali
---
Done

In [12]:
print("Good Afternoon", student_names)

Good Afternoon ['Zainab', 'Zaina', 'Ali']

In [14]:
student_names = ['Zainab', 'Zaina', 'Ali']

for st in student_names:
    print('Good afternoon,', st)
    print("---")
print("Done")

Good afternoon, Zainab
---
Good afternoon, Zaina
---
Good afternoon, Ali
---
Done

###

Print from 1 to 20

In [15]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for num in numbers:
    print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [16]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

range(start, end+1, step)

In [17]:
numbers = range(1, 20+1, 1)

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [18]:
numbers = range(1, 21, 1)

for num in numbers:
    print(num)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

0, 5, 10, 15, 20, 25,

In [22]:
numbers = range(0, 26, 5)

for num in numbers:
    print(num)

0
5
10
15
20
25

In [23]:
for num in range(0, 26, 5):
    print(num)

0
5
10
15
20
25

In [25]:
for i in range():
    print(i)

TypeError: range expected at least 1 argument, got 0

start < end

In [26]:
for i in range(5, 5):
    print(i)

In [27]:
for i in range(25, 5, 1):
    print(i)

range(start=0,    end+1,    step=1)

In [24]:
for i in range(21):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [34]:
"noor" in "hi islam"

False

In [40]:
sentence = "Hello, How are you?"
for boogity in sentence:
    print(boogity)

H
e
l
l
o
,

H
o
w

a
r
e

y
o
u
?

EX1: Print all even numbers between 1 and 20 (both inclusive)

In [43]:
numbers = range(2, 21, 2)
for i in numbers:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [46]:
numbers = range(1, 21)
for i in numbers:
    if i%2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

EX2: Print the multiplication table of 5 (e.g., 5 x 1 = 5, 5 x 2 = 10, etc.)

In [48]:
numbers = range(1, 11)
for i in numbers:
    print(5*i)

5
10
15
20
25
30
35
40
45
50

In [51]:
numbers = range(1, 11)
for i in numbers:
    print("5 *", i, "=", 5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

EX3: Ask the user for a string and use a for loop to print all the vowels it contains.

In [52]:
ans = input("Enter any string")
for letter in ans:
    print(letter)

Enter any string hello

h
e
l
l
o

In [55]:
ans = input("Enter any string")
#vowels = "aeiouAEIOU"

for letter in ans:
    if letter in "aeiou":
        print(letter)

Enter any string hello

e
o

EX4: Given a list of numbers, count how many are even numbers.

In [57]:
numbers = [1, 2, 3, 4, 5, 6]
for num in numbers:
    if num%2 == 0:
        print(num)

2
4
6

In [60]:
numbers = [1, 2, 3, 4, 5, 6]
count = 0

for num in numbers:
    if num%2 == 0:
        count = count + 1
print(count)

3

In [64]:
numbers = [1, 2, 3, 4, 5]
count_even = 0
count_odd = 0

for num in numbers:
    if num%2 == 0:
        count_even = count_even + 1
    else:
        count_odd = count_odd + 1

print("even:", count_even, "odd:", count_odd)

even: 2 odd: 3

In [61]:
numbers = [1, 2, 3, 4, 5, 6]
hand = 0

for num in numbers:
    if num%2 == 0:
        hand += 1 #hand = hand + 1
print(hand)

3

count = 0

for i in loop_over:
    
    count += 1

EX5: Ask the user for a sentence and count vowels (a, e, i, o, u) and consonants.

In [19]:
sen  = input("Enter sentence")
count_vowels = 0
count_cons = 0
for letter in sen:
    if letter in 'aeiou':
        count_vowels += 1
    elif letter in 'bcdfgh':
        count_cons += 1
print(count_vowels, count_cons)

Enter sentence bcbcbciou

3 6

## Loop over multiple list

In [ ]:
names = ['Mohamed', 'Islam', 'Samira']
ages  = [20, 22, 21]

for n in names:
    print("My name is", n)

In [2]:
names = ['Mohamed', 'Islam', 'Samira']
ages  = [20, 22, 21]

for n, a in zip(names, ages):
    print("My name is", n, "I am ", a)

My name is Mohamed I am  20
My name is Islam I am  22
My name is Samira I am  21

In [5]:
# If the two lists not in the same length, loop over the smallest
names = ['Mohamed', 'Islam', 'Samira', 'Isa']
ages  = [20, 22, 21]

for n, a in zip(names, ages):
    print("My name is", n, "I am ", a)

My name is Mohamed I am  20
My name is Islam I am  22
My name is Samira I am  21

In [6]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']
ages  = [20, 22, 21]
cities = ['Manama', 'Mohaqk', 'Isa Town'] 

for n, a, c in zip(names, ages, cities):
    print("My name is", n, "I am ", a, "I live in", c)

My name is Mohamed I am  20 I live in Manama
My name is Islam I am  22 I live in Mohaqk
My name is Samira I am  21 I live in Isa Town

In [8]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']
ages  = [20, 22, 21]
cities = ['Manama', 'Mohaqk', 'Isa Town'] 

for n, a, c in zip(names, ages, cities):
    print("My name is", n, "I am ", a, "I live in", c, end='\t')

My name is Mohamed I am  20 I live in Manama	My name is Islam I am  22 I live in Mohaqk	My name is Samira I am  21 I live in Isa Town

In [9]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']
numbers = [0, 1, 2, 3]

for name, num in zip(names, numbers):
    print(num, name)

0 Mohamed
1 Islam
2 Samira
3 Isa

In [11]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']
numbers = range(0, 4)

for name, num in zip(names, numbers):
    print(num, name)

0 Mohamed
1 Islam
2 Samira
3 Isa

In [12]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']

for num, name in enumerate(names):
    print(num, name)

0 Mohamed
1 Islam
2 Samira
3 Isa

In [15]:
names = ['Mohamed', 'Islam', 'Samira', 'Isa']

for idx, name in enumerate(names):
    print(idx+1, name)

1 Mohamed
2 Islam
3 Samira
4 Isa

## Updating Variables

In [20]:
score = 0

In [25]:
score = score + 1 # new_score = old_score + 1

In [ ]:
score += 1

In [26]:
print(score)

3

## While loop

In [29]:
power = 3

while power > 0:
    print("playing your power is", power)
    power = power - 1
print("Game over")

playing your power is 3
playing your power is 2
playing your power is 1
Game over

In [30]:
power = 3

while power > 0:
    power = power - 1
    print("power remaning", power)

print("Game over")

power remaning 2
power remaning 1
power remaning 0
Game over

In [33]:
score = 0
while score <= 5:
    print(score)
    score = score + 1

print("You are now in the next level")

0
1
2
3
4
5
You are now in the next level

Pattern
- define var

- use the var in the condition

- update the variable

## Infiniti loop

In [ ]:
elvator = 0
while elevator <= 9:
    print("you are in ", elvator, "floor")
    # update 
    #elevator = elevator - 1

![]()

![](https://i.makeagif.com/media/7-20-2015/ik5JKk.gif)

In [35]:
elevator = 0
while elevator <= 9:
    print("you are in ", elevator, "floor")
    # update 
    elevator = elevator + 1

you are in  0 floor
you are in  1 floor
you are in  2 floor
you are in  3 floor
you are in  4 floor
you are in  5 floor
you are in  6 floor
you are in  7 floor
you are in  8 floor
you are in  9 floor

## How to break the loop `break`

In [40]:
elevetor = 0

elevetor < 10

True

In [ ]:
while True: # run forever
    ans = input("Enter your name or # to exit")
    if ans == '#':
        break # end loop
    print("Hello", ans)

In [36]:
while 1 == 1: # run forever
    ans = input("Enter your name or # to exit")
    if ans == '#':
        break # end loop
    print("Hello", ans)

Enter your name or # to exit Fouz

Hello Fouz

Enter your name or # to exit Rabab

Hello Rabab

Enter your name or # to exit Hassan

Hello Hassan

Enter your name or # to exit Husain

Hello Husain

Enter your name or # to exit Ayah

Hello Ayah

Enter your name or # to exit Zainab

Hello Zainab

Enter your name or # to exit #

![](https://www.programiz.com/sites/tutorial2program/files/working-break-statement-python.png)

In [44]:
i = 0
while i < 5:
    i = i + 1
    if i == 3:
        continue # skip and go back to the loop condition
    print(i)

1
2
4
5

![](https://www.programiz.com/sites/tutorial2program/files/working-continue-statement-python.png)