# Tuples

## Tuples are immutable

In [1]:
t = 3, 4, 5, 6
t

(3, 4, 5, 6)

In [2]:
type(t)

tuple

In [3]:
t = (3, 4, 5, 6)
type(t)

tuple

In [4]:
tuple_one = (10)
type(tuple_one)

int

In [5]:
tuple_one = (10,)
type(tuple_one)

tuple

In [6]:
empty = tuple()

In [7]:
t

(3, 4, 5, 6)

In [8]:
t[0]

3

In [9]:
t[0] = 300

TypeError: 'tuple' object does not support item assignment

## Tuple Assignment

In [11]:
t = (10, 20)

price, hours = t
hours

20

In [12]:
price, hours = 10, 20
price

10

## Tuples with Dictionaries

In [13]:
dic = {"one":"واحد",
       "two":"إثنين",
       
      }
dic

{'one': 'واحد', 'two': 'إثنين'}

In [14]:
dic.items()

dict_items([('one', 'واحد'), ('two', 'إثنين')])

In [15]:
city_dic = {('Manama', 'BH'):100000,
           ('Dubai', 'AUE'):200111}
city_dic

{('Manama', 'BH'): 100000, ('Dubai', 'AUE'): 200111}

In [17]:
city_dic[('Manama', 'BH')]

100000