# Variables

## First program

In [1]:
print("Hello world")

Hello world

In [6]:
print("hello world"

SyntaxError: incomplete input (1028029194.py, line 1)

In [7]:
print(hello world)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2497053111.py, line 1)

In [5]:
PRINT("Hello world")

NameError: name 'PRINT' is not defined

In [4]:
Print("Hello world")

NameError: name 'Print' is not defined

In [3]:
show("hello world")

NameError: name 'show' is not defined

## Values

In [8]:
print(9)

9

In [11]:
type(9)

int

In [12]:
print('text')

text

In [13]:
type("text")

str

In [18]:
type('9')

str

In [15]:
print(12.34)

12.34

In [16]:
type(12.34)

float

In [17]:
type(12.0)

float

In [14]:
Type("jhhjvc")

NameError: name 'Type' is not defined

In [19]:
10 * 10

100

In [20]:
5 + 20

25

In [21]:
100 - 50 + 2

52

## Variables

In [22]:
name = "Mohamed"

print(name)

Mohamed

print 'name' litraly

In [24]:
print("name")

name

In [25]:
print(first_name)

NameError: name 'first_name' is not defined

In [27]:
print(first_name)
first_name = "Rawan"

NameError: name 'first_name' is not defined

In [28]:
first_name = "Rawan"
print(first_name)

Rawan

In [29]:
first_name = 100
print(first_name)

100

In [33]:
first_name = "Rawan"
last_name = "Jalel"
print(first_name, last_name)

Rawan Jalel

In [37]:
print(1000000)

1000000

In [36]:
print(1,000,000)

1 0 0

In [34]:
type(first_name)

str

In [35]:
age = 30

type(age)

int

In [53]:
first_name = "Rawan2000"

In [39]:
last_name = "Jalel"

In [54]:
print(first_name, last_name)

Rawan2000 Jalel

## Variable names

- AZaz09 (usually we use lower case)
- arabic(not recommended)
- Can't start with numbers
- Can't have spaces
- Only symple that we can use is _ (underscore)
- Don't use any python reserved words

In [41]:
first name= "Hassan"

SyntaxError: invalid syntax (3524199301.py, line 1)

In [42]:
first_name = "Hassan"
firstName  = "Hassan"

In [43]:
1name = "mona"

SyntaxError: invalid decimal literal (2217777362.py, line 1)

In [44]:
name1 = "mona"

In [45]:
for = "hjtgfhvj"

SyntaxError: invalid syntax (656577203.py, line 1)

In [46]:
class = "jghd"

SyntaxError: invalid syntax (1927611958.py, line 1)

Not recommended to use capital letter

In [49]:
AGE = 20

In [48]:
age = 20

## Statements

print statement

In [55]:
print("Hello world")

Hello world

assignment statement

In [58]:
x = 5

In [59]:
print(x)

5

In [60]:
print("hello")
name= "Mariam"
print(name)

hello
Mariam

## Operators and Operands

In [61]:
5 + 5

10

In [63]:
num1 = 10
num2 = 20

num1 + num2 + 5

35

In [73]:
10 * 2

20

float division

In [64]:
5/2

2.5

Intger division

In [65]:
5//2

2

In [66]:
5.9/2

2.95

In [67]:
5.9//2

2.0

power

In [72]:
5 ** 4

625

In [68]:
round(1.9)

2

## Expressioon

Combination of values, variables, and opreators

In [75]:
num1

10

In [74]:
num1 + 10 * 2

30

## Order of operations (PEMDAS)

1. Paranthathese
2. Power
3. Mul and Div
4. addition and subtraction

In [76]:
10 + (2 + 1)**2 * 5

55

In [77]:
5 / 5 * 2

2.0

In [78]:
5 * 5 / 2

12.5

## Modulus Operator

In [79]:
3 % 2

1

## String Operations

In [80]:
3 + 2

5

In [81]:
"Rawan" + "Jalil"

'RawanJalil'

In [84]:
'3' + '2'

'32'

In [85]:
'Islam' +  10

TypeError: can only concatenate str (not "int") to str

In [86]:
'Islam' +  '10'

'Islam10'

In [87]:
3 * 3

9

In [88]:
"Noor" * 3

'NoorNoorNoor'

In [89]:
'Noor'/2

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [91]:
5 * 5
2 + 2
1 + 1

2

In [92]:
print(5 * 5)
print(2 + 2)
print(1 + 1)

25
4
2

## Ask for input

In [93]:
name = "Maram"
print("Hello", name)

Hello Maram

In [99]:
name = input("What's your name?")
print("Hello", name)

What's your name? 2040

Hello 2040

In [98]:
x = 2

## Comment

In [101]:
# this to caculate salary per week
weeks= 10 
time = 10 # seconds

In [ ]:
mohamed = 20
x = 10
y = 3

## Choosing mnemonic variable names

In [102]:
a = 35.0
b = 12.50
c = a * b
print(c)

437.5

In [103]:
hours_per_week = 35.0
rate_bd = 12.50
pay = hours_per_week * rate_bd
print(pay)

437.5

In [104]:
x1q3z9ahd = 35.0
x1q3z9afd = 12.50
x1q3p9afd = x1q3z9ahd * x1q3z9afd
print(x1q3p9afd)

437.5