<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px" />

# Python Ladder Challenge - Notebook 3 Solutions

_Author:_ Tim Book

# Climb the Ladder!
Our class moves quickly! Sometimes, it feels like we make leaps in logic that are a bit too big. Learn Python _slowly_, by doing many, many examples. Problems in this notebook start out easy and progressively get harder, so that the next rung of the Python ladder is always within reach.

# Section VII: Functions
In this section, every question gives example(s). You can (but don't need to) name your function accordingly. You _should_ test out the example to make sure your function works properly. If the example doesn't work, your answer is likely incorrect.

72) Import `pi` from `math` and write a function to compute the area of a circle. You only need the radius of a circle to compute its area.

* _Example:_ `area_circle(10) == 314.159...`

In [4]:
#Define your function
import math

def area_circle(r):
    return math.pi*(r**2)

In [5]:
#Test the function
print(area_circle(10))

314.1592653589793

73) Write a function that takes in a number `max_num` and returns the sum of the square of the numbers 1 through `max_num` (inclusive).
* `sum_squares(5) == 1 + 4 + 9 + 16 + 25 == 55`

In [88]:
#Define your function
def sum_squares(max_num):
    total=0
    for num in range(1, max_num + 1):
        total+=num**2
    print(total)
    return

In [89]:
#Test the function
sum_squares(5)

55

74) Write a function that takes a list of numbers (amounts in euros), and returns them converted to dollars.
* _Example:_ `to_dollar_list([1, 10, 100]) == [1.1, 11.0, 110.0]`
* _Note:_ You may get some decimal weirdness here.

In [37]:
#Define your function
def to_dollar_list(euro_list):
    dollar_list = []
    for amount in euro_list:
        dollar_list.append(amount * 1.1)
    return dollar_list

In [38]:
#Test the function
to_dollar_list([1, 10, 100])

[1.1, 11.0, 110.00000000000001]

75) Write a function that takes a number (a person's height) and returns "Tall enough" if they are at least 5 feet (60 inches) or "Too short" if they are below 5 feet.
* _Example:_ `is_tall(72) == 'Tall enough'`
* _Example:_ `is_tall(52) == 'Too short'`

In [21]:
def is_tall(height_inches):
    if height_inches >= 60:
        print("Tall enough")
    else:
        print("Too short")
    return

In [22]:
is_tall(72) 
is_tall(52)

Tall enough
Too short

76) Write a function that takes a list of numbers (peoples' heights) and returns a list of strings "Tall enough" or "Too short" as in the previous problem. Use your answer to the previous problem to help answer this problem.
* _Example:_ `is_tall_list([58, 70, 60]) == ['Too short', 'Tall enough', 'Tall enough']`

In [26]:
def is_tall_list(heights): 
    results = []
    for height in heights:  
        if height >= 60:
            results.append("Tall enough")
        else:
            results.append("Too short")
    return results

''' using list comprehension 
def is_tall_list(heights):
return ["Tall enough" if h >= 60 else "Too short" for h in heights] 
'''

In [27]:
is_tall_list([58, 70, 60])

['Too short', 'Tall enough', 'Tall enough']

77) Write a function that takes in a numeric grade (0 to 100) and returns the letter grade (no pluses or minuses). In a traditional rubric, that would be as follows:

* 90 or above = A
* 80 - 89 = B
* 70 - 79 = C
* 60 - 69 = D
* 59 or below = F
    
    
* _Example:_ `letter_grade(85) == 'B'`

In [74]:
def letter_grade(grade):
    if grade > 100 or grade < 0:
        return "Wrong grade - Out of Range!"
    elif grade >= 90:
        return "A"
    elif grade >= 80:
        return "B"
    elif grade >= 70:
        return "C"
    elif grade >= 60:
        return "D"
    else:
        return "F"

In [75]:
letter_grade(85)

'B'

78) Write _another_ function that takes a list of numeric grades and returns their letter grades. Use the function written above in your answer.

* _Example:_ `letter_grades([85, 62, 90]) == ['B', 'D', 'A']`

In [76]:
def letter_grades(grades):
    print([letter_grade(g) for g in grades])
    return

In [77]:
letter_grades([85, 62, 90])

['B', 'D', 'A']

79) Write a function that takes in a string and returns that string with its consonants capitalized and vowels lowercased.

* _Example:_ `toggle_case('General Assembly') == 'GeNeRaL aSSeMBLY'`

In [86]:
def toggle_case(s):
    vowels = {'a', 'e', 'i', 'o', 'u'}
    result = ""
    for char in s:
        if char.lower() not in vowels :
            result+=char.upper()
        else:
            result+=char.lower()
       
    return result

In [87]:
toggle_case('General Assembly')

'GeNeRaL aSSeMBLY'

80) Write a function that takes in a string and returns that string with its vowels removed.
* _Example:_ `disemvowel('Python is my favorite language') == 'Pythn s my fvrt lngg'`

In [3]:
def disemvowel(text):
    vowels = 'aeiouAEIOU'
    for vowel in vowels:
        text = text.replace(vowel, '')
    return text

In [4]:
disemvowel('Python is my favorite language')

'Pythn s my fvrt lngg'

81) Write a function that takes in a string and returns that string with its vowels removed _unless it's a one-letter word_, in which case leave the vowel intact. You should use your answer in the previous problem to answer this.
* _Example:_ `smart_disemvowel('I love Python programming') == 'I lv Pythn prgrmmng'`

In [9]:
def smart_disemvowel(s):
    words = s.split()
    processed_words = []
    for word in words:
        if len(word) == 1:
            processed_words.append(word)
        else:
            processed_words.append(disemvowel(word))
    return ' '.join(processed_words)

In [10]:
smart_disemvowel('I love Python programming')

'I lv Pythn prgrmmng'

82) Write a function that takes in a string (likely multiple words long) and returns that string with the order of the words reversed.
* _Example:_ `word_reverser('Data science is cool') == 'cool is science Data'`

In [12]:
def word_reverser(s):
    words = s.split()
    reversed_words = words[::-1]
    return ' '.join(reversed_words)

In [13]:
word_reverser('Data science is cool')

'cool is science Data'

83) Write a function that takes in a string (likely multiple words long) and returns that string with each word reversed, but with the words in the same order.
* _Example:_ `letter_reverser('Data science is cool') == 'ataD ecneics si looc'`

In [15]:
def letter_reverser(s):
    words = s.split()
    reversed_words = []
    for word in words:
        reversed_words.append(word[::-1])
    result = ' '.join(reversed_words)
    return result

In [16]:
letter_reverser('Data science is cool')

'ataD ecneics si looc'

84) Write a function that converts a string to "leet speak". Leet speak is a made-up internet language which you replace characters with symbols that look like those characters. For example:

* _Example:_ `to_leet_speak('i am elite') == '! @M 31!73'`
* _Hint:_ Recall what `.get()` does when called on a dictionary? Will this help you with spaces or other non-letter characters?

_Note:_ This problem is borrowed from [this](https://www.codewars.com/kata/toleetspeak) wonderful Codewars challenge!

Below is the English-to-leet dictionary:

In [23]:
LEET_DICT = {'A' : '@', 'B' : '8', 'C' : '(', 'D' : 'D', 'E' : '3',
             'F' : 'F', 'G' : '6', 'H' : '#', 'I' : '!', 'J' : 'J',
             'K' : 'K', 'L' : '1', 'M' : 'M', 'N' : 'N', 'O' : '0',
             'P' : 'P', 'Q' : 'Q', 'R' : 'R', 'S' : '$', 'T' : '7',
             'U' : 'U', 'V' : 'V', 'W' : 'W', 'X' : 'X', 'Y' : 'Y',
             'Z' : '2'}

In [24]:
leet_speak = []
def to_leet_speak(s):
    for char in s:
        upper_char = char.upper()
        if upper_char in LEET_DICT:
            leet_speak.append(LEET_DICT[upper_char])
        else:
            leet_speak.append(char)
    return ''.join(leet_speak)

In [25]:
to_leet_speak('i am elite')

'! @M 31!73'

# Section VIII: What's next?

## Section VIIIa: Virtual Practice

Now that we've got a handle on the basics (and a few problems much more difficult than "basic"), what do we do next? If you'd like some more difficult challenges, sign up for [Codewars](https://www.codewars.com)! Codewars is a website in which you are repeatedly given coding challenges that get progressively more difficult. You earn XP and level up, giving you harder and harder problems. Below is an ever-updating list of coding challenges that we recommend. Some of them are Codewars challenges, some from other resources:

* [Run-length Encoding](https://www.codewars.com/kata/run-length-encoding-1) (Codewars)
* [Permutations](https://leetcode.com/problems/permutations/) (Leetcode)
* ["1-Dimensional Candy Crush"](https://leetcode.com/discuss/interview-question/380650/bloomberg-phone-screen-candy-crush-1d) (Leetcode)

## Section VIIIb (OPTIONAL): Real Interview Challenges
Below are interesting challenges stolen directly from real interviews! These challenges have been reported from both GA students and GA instructors. If you find a good one in your future interviews, please come back and tell us! This section of the ladder is ever-updating.

### File Permissions
In UNIX-like systems (eg, Mac and Linux), the permissions on certain files are given by short 9-character codes. These characters represent the read (**r**), write (**w**), and execute (**x**) permissions of the owner, assigned group, and all users, respectively. For example, the code

`rwx------`

means the file owner has all 3 kinds of permissions, but no one else can do anything. Another common code is 

`rwxr-xr-x`

which means that everyone can read and execute the file, but only the owner has permission to write to it (that is, to change it). You can see these permissions yourself by typing `ls -l` from your command line!

In order to further save space, these codes are often saved as a 3-digit number, where each digit corresponds to the sum of the values of `r`, `w`, and `x`. `r` is worth 4, `w` is worth 2, `x` is worth 1, and `-` is worth 0. For example, `rwx------` is shortened to the code `700`, and `rwxr-xr-x` is `755`.

Your challenge is to write a function that shortens the "permission string" to its corresponding "permission code" (properly known as its "octal notation"). Please note that the output of your function should be an integer, not a string! You can assume the "permission string" is always valid.

* _Example:_ `permissions_to_octa("rwxr-xr-x") = 755`

### Grocery Bags (BONUS)
A large grocery bag can hold 5 items, while a small grocery bag can hold only 1. The numbers of each size bag available may be limited. All items must be placed in a bag and each bag must be filled completely. For example, if we have 16 items, 2 large bags, and 10 small bags, 8 total bags are needed. 2 large bags + 6 small bags = 16 items in 8 bags.

Write a function to calculate the **minimum** number of bags needed. If it's not possible to meet these conditions, return `-1`.

* `min_bags(16, 2, 10) = 8`
* `min_bags(20, 2, 2) = -1`